.footer {
  text-align: center;
  padding: 20px;
  background-color: #eef2f5;
}

.footer  a {
  color: #868e96;
  font-size: 30px;
  letter-spacing: 10px;
}

.footer p {
  color: #868e96;
}

.footer .fas {
    color: #BF0F12;
}

